*{
    padding: 0;
        margin: 0;
        text-decoration: white;
        list-style: upper-alpha;
        box-sizing: border-box;
    }
    
    body {
        font-family: montserrat;
    }
    nav {
        background:#0A105A;
        height: 80px;
        width: 100%;
    }
    label.logo {
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }
    nav ul {
        float: right;
        margin-right: 20px;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a {
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        border-bottom: #4DA3FF;
        display: unset;
        cursor: pointer;
        animation-iteration-count: initial ;
    }
    a.active, a:hover {
        background: #1d075f;
        transition: .5s;
    }
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check {
        display: none;
    }
    @media (max-width: 952px){
        label.logo{
            font-size: 30px;
            padding-left: 50px;
        }
        nav ul li a{
            font-size: 16px;
        }
    }
    @media (max-width: 858px){
        .checkbtn {
            display: block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background:#0A105A;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        a:hover, a.active {
            background: none;
            color:white;
        }
        #check:checked ~ ul {
            left: 0;
        }
    }
    .chamada{
       height: auto 40%;
       -webkit-box-align: auto;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; 
        max-resolution: 50%;
        width: 100%;  
        margin: calc(220%-5500%); 
    }
    .Encontrar{
        text-align: left;
    }
    .inicial{
        padding: 0% auto;
        align-items: left;
        width: 30% auto;
        padding: 5% auto;
        text-align: left;
    }     

    .Secundario{
        width: 30% auto;
        padding: 5% auto;
        text-align: center;
        align-items: center;
       
    }
    .cerebro{
        width: 400% auto;
        height: 80% auto;
    }

    .partida{
        height: 50%;
        display: flex;
        max-width: 50%;
       width: calc(40%-10px);
       align-items: center;
       
    }       
    .article:nth-child(even){
         margin-left: 20px;
    }
    
    }
    .principal{
        padding: 0%;
        margin: 0% auto;
        float: left;
        display: flex;
        max-width: 50% auto;
           
    }
   .chama{ 
       padding: 0% auto;
       margin: 50% auto;
       background-color: #4DA3FF;
       background: linear-gradient(72deg, #0A1054 1%, #8956f3 99%); 
       
   }
   .contatos{
       text-align: center;
       padding: 100px;
       
   }
  .imagenssl{
      height: 100vh;
      width: 100vw;
      background: linear-gradient(72deg, #0A1054 1%, #8956f3 99%); 
  }
  .content{
      height: 520px;
      width: 935px;
      border-radius: 20px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%, -50%);
  }
  .navigation{
      position: absolute;
      bottom: 20px;
      top: 50%;
      left: 50%;
      display: flex;
  }
  .bar{
      width: 70px;
      height: 17px;
      border: 2px solid #4DA3FF;
      margin: 6px;
      border-radius: 5px;
      cursor: pointer;
      transition: .6s;

  }
  .bar:hover{
      background-color: #4DA3FF;
  }
  input{
      display:;
  }
  .swiper {
    width: 80%;
    height: 80%;
    background-position-x: 40%;
  }
  .inicial{
      width: 80%;
      padding: 5px;
      text-align: center;
  }
  